.nav__container a button {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: rgb(209, 52, 52);
    color: #fff;
    /* padding: .65rem .7rem; */
    padding: .8rem 1rem;
    border-radius: 6px;
}

.nav__container a button:hover {
    cursor: pointer;
}

/* .nav__container a:nth-last-child::after {
    background-color: red;
}

.nav__container a button:hover::after {
    width: 0;
} */

table {
    border-radius: 12px;
}

th {
    color: #fff;
    font-size: 1.28rem;
}

td {
    color: #fff;
    font-size: 1.24rem;
}

td.dogname {
    font-weight: bold;
}

.dogimg img{
    border-radius: 6.45px;
}

.display__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    height: 68vh;
}

.action__btn {
    display: flex;
    gap: .85rem;
}

.display__container button {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1.24rem;
    padding: .5rem .52rem;
    border-radius: 5px;
    cursor: pointer;
}

button.edit {
    background-color: rgb(100, 100, 253);
}

button.delete {
    background-color: rgb(209, 52, 52);
}

.change {
    /* background-color: rgb(209, 52, 52); */
}

.change button {
    border: none;
    outline: none;
    background-color: rgb(4, 208, 4);
    color: #fff;
}

button a {
    color: #fff;
}


.footer__container {
    /* height: 20vh; */
}